body{
    background-image: url(images/bkg.jpg);   
    margin: 0;
    padding: 0;
    /*background-repeat: repeat-y;*/
    background-attachment: fixed;
    
}


.container{
    background-color: black;
    width: 65%;
/*    height: 100vh;*/
    margin: 0 auto;
    font-family:"Arial", "Helvetica" sans-serif;
    line-height: 25px;
    text-align: center;
}
h1{
    color: orange;
    text-align: left;
    padding-left: 50px;


}
.fa-phone{
    color: white;
    margin-right: 10px;
}
.fa-envelope-o{
    color: white;
    margin-right: 10px;
}
.zagl-desno{
    float: right;
/*    padding-top: 30px;
      padding-right: 60px;*/
}
.zagl-desno ul{
    list-style-type: none;
    color: white;
}
.zaglavlje-slika{
    width: 95%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: 40px;
}
.zaglavlje{
    padding-top: 20px;
    width: 95%;
}
.zaglavlje-slika ul{
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
            /*ovo se dodaje da bi se sprecilo da elementi idu van liste*/
    background-color: #333;
    width: 100%;
    

}
.zaglavlje-slika li{
            padding-left: 20px;
            display: inline;
            float:left;
        }
.zaglavlje-slika li.kontakt{
    float: right;
    padding-right: 10px;
}
.vozila{
    width: 70%;
    padding: 0;

}
table, th, td{
    border: 1px solid orange;

}
table{
/*    width: 75%;*/
    color: white;
    border-collapse: collapse;
    margin-left: 65px;
    margin-top: 20px;
    font-size: 1.1em;
}
td{
    height: 20px;
    padding-left: 10px;
}
.ponuda_usluge{
        width: calc(70% - 60.875px);
        color: white;
        padding: 0;
        border: 1px solid orange;
        margin-left: 65px;


}
.novosti{
        width: calc(70% - 60.875px);
        color: white;
        padding: 0;
        border: 1px solid orange;
        margin-left: 65px;
        text-align: center;
        padding-bottom: 10px;

}
.sponzor{
        width: calc(70% - 60.875px);
        color: white;
        padding: 0;
/*        border: 1px solid orange;*/
        margin-left: 60.875px;
        text-align: left;
        padding-left: 30px;

}
.footer h3{
    padding: 0;
    margin: 0;
    color: white;
    font-size: 0.95em;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    padding-top: 15px;
}

